@model JobMatch.JobApplication

@{
    ViewData["Title"] = "Edit";
    <link rel="stylesheet" href="~/css/edit.css" />
}

<h1>Edit Job Application</h1>

<hr />
<div class = "container">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="JobId" class="control-label"></label>
                <select asp-for="JobId" class="form-control" asp-items="ViewBag.JobId"></select>
                <span asp-validation-for="JobId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobSeekerId" class="control-label"></label>
                <select asp-for="JobSeekerId" class="form-control" asp-items="ViewBag.JobSeekerId"></select>
                <span asp-validation-for="JobSeekerId" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="AppliedDate" class="control-label"></label>
                <input asp-for="AppliedDate" class="form-control" />
                <span asp-validation-for="AppliedDate" class="text-danger"></span>
            </div> *@
            @* <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Resume" class="control-label"></label>
                <input asp-for="Resume" type="file" name="Resume_file" class="form-control" />
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            <div asp-action="Index">
                    <button type="submit" class="btn btn-secondary">Back to List</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
