@model JobMatch.Job

@{
    ViewData["Title"] = "Edit";
    <link rel="stylesheet" href="~/css/edit.css" />
}

<h1>Edit Job</h1>

<hr />
<div class="container">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobCategoryId" class="control-label"></label>
                <select asp-for="JobCategoryId" class="form-control" asp-items="ViewBag.JobCategoryId"></select>
                <span asp-validation-for="JobCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployerId" class="control-label"></label>
                <select asp-for="EmployerId" class="form-control" asp-items="ViewBag.EmployerId" ></select>
                <span asp-validation-for="EmployerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div> *@
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                <div asp-action="Index">
                    <button type="submit" class="btn btn-secondary">Back to List</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
