h1 {
    font-family: Georgia;

}
.edit-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-family: Georgia;
}

.edit-form,
.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.edit-form label {
    font-weight: bold;
}

.edit-form input[type="text"],
.edit-form select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary {
    padding: 5px 18.5px;
    background-color: rgb(251, 251, 178);
    border: none;
    color: #000000;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #faf086;
    color: #000000; 
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 5px 18.5px;
    border-radius: 5px;
}

.btn-secondary:hover {
    background-color: #495057;
}
